/* Estilos para el footer */
#footer {
  background-color: #4caf50; /* Fondo verde */
  color: white; /* Texto blanco */
  padding: 20px; /* Espaciado interno */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Distribución en 4 columnas */
  gap: 20px; /* Espacio entre columnas */
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Estilos para los elementos dentro del footer */
#footer h4 {
  text-align: left;
  margin-bottom: 20px; /* Espaciado inferior para los títulos */
}

#footer ul {
  text-align: left;
  list-style: none; /* Quita los estilos de lista */
  padding: 0;
}

#footer ul li {
  margin-bottom: 8px; /* Espaciado inferior para los elementos de lista */
}

#footer a {
  color: white; /* Color del enlace */
  text-decoration: none; /* Quita el subrayado del enlace */
}

#footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
}