#footer {
  position: relative;
  background-color: #4caf50;
  color: white; 
  padding: 20px; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 

}

#footer h4 {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 6em;
}

#footer ul {
  text-align: left;
  list-style: none; 
  padding: 0;
}

#footer ul li {
  margin-bottom: 8px;
  padding-left: 6em;
}

#footer a {
  color: white; 
  text-decoration: none; 
}

#footer a:hover {
  text-decoration: underline;
}

#licencia {
  justify-self: end;
  align-self: center;
  padding-right: 6em;
}