body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-self: center;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

form a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}