body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   text-align: center !important;
   margin: 0;
   padding: 0;
}

h1 {
   margin-top: 4em;
   color: #333;
   margin-bottom: 20px;
}

#nuevoServidorForm {
   width: 80%; 
   margin: 20px auto; 
   background-color: #fff;
   border-radius: 8px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: none;
}

label {
   display: block;
   margin-bottom: 8px;
   color: #333;
   font-weight: bold;
   text-align: left;
}

input, select {
   width: calc(100% - 22px);
   padding: 10px;
   margin-bottom: 16px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
}

h2 {
   margin-top: 2.5em;
   color: #333;
   margin-bottom: 20px;
}

button {
   background-color: #4caf50;
   color: white;
   border: none;
   padding: 12px 20px;
   font-size: 18px;
   cursor: pointer;
   border-radius: 4px;
   transition: background-color 0.3s; 
}

.button2 {
   background-color: #f62451;
   color: white;
   border: none;
   padding: 12px 20px;
   font-size: 18px;
   cursor: pointer;
   border-radius: 4px;
   transition: background-color 0.3s; 
}

/* button:hover {
   background-color: #45a049;
} */

#listaServidores {
   padding-left: 6em;
   padding-right: 6em;
   padding-bottom: 8em;
   margin-left: 20px;
   margin-right: 20px;
}

#listaServidores table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

#listaServidores th, #listaServidores td {
   border: 1px solid #ddd;
   padding: 12px;
   text-align: left;
}

#listaServidores th {
   background-color: #4caf50;
   color: white;
}

.Acciones {
   text-align: center !important;
 }
 
.boton-iniciar-servidor {
   background-color: #4caf50;
   color: white;
   border: none;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 4px;
 }
 
 .boton-iniciar-servidor:hover {
   background-color: #45a049;
 }
 
 .boton-parar-servidor {
   background-color: #f62451;
   color: white;
   border: none;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 4px;
 }
 
 .boton-parar-servidor:hover {
   background-color: #f62451;
 }

 .boton-reiniciar-servidor {
   background-color: #2b87d3;
   color: white;
   border: none;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 4px;
 }
 
 .boton-reiniciar-servidor:hover {
   background-color: #2b87d3;
 }

 .centrar-boton{
   text-align: center !important;
 }